<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendário de Reuniões</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="login">
    <div class="login-container">
        <div class="shape-container">
            <img src="{{ url_for('static', filename='logo_alpha.png') }}" alt="Logo" class="logo">
            <div class="login-form">
                <form method="POST" action="{{ url_for('login') }}">
                    <label for="usuario">Usuário:</label>
                    <input type="text" name="usuario" id="usuario" placeholder="Digite seu usuário" required>
                    <label for="senha">Senha:</label>
                    <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
                    <button type="submit" class="btn">Entrar</button>
                    <p class="forgot-password">
                        <a href="{{ url_for('forgot_password') }}">Esqueci minha senha</a>
                    </p>
                </form>
                <p>Não tem uma conta? <a href="{{ url_for('cadastro') }}">Cadastre-se</a></p>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                Swal.fire({
                    title: '{{ message }}',
                    icon: '{{ 'success' if category == 'success' else 'error' }}',
                    confirmButtonText: 'OK'
                });
                {% endfor %}
            {% endif %}
            {% endwith %}
        });
    </script>
</body>
</html>