<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha - Calendário de Reuniões</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="login">
    <div class="login-container">
        <div class="shape-container">
            <img src="{{ url_for('static', filename='logo_alpha.png') }}" alt="Logo" class="logo">
            <div class="login-form">
                <h2>Redefinir Senha</h2>
                <form method="POST" action="{{ url_for('reset_password', token=token) }}">
                    <label for="nova_senha">Nova Senha:</label>
                    <input type="password" name="nova_senha" id="nova_senha" placeholder="Digite sua nova senha" required>
                    <label for="confirmar_senha">Confirmar Nova Senha:</label>
                    <input type="password" name="confirmar_senha" id="confirmar_senha" placeholder="Confirme sua nova senha" required>
                    <button type="submit" class="btn">Redefinir Senha</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                Swal.fire({
                    title: '{{ message }}',
                    icon: '{{ 'success' if category == 'success' else 'error' }}',
                    confirmButtonText: 'OK'
                });
                {% endfor %}
            {% endif %}
            {% endwith %}
        });
    </script>
</body>
</html>